 .hero {
    font-family: 'Roboto', serif;
    text-align: center;
    min-height: 800px;
    background-size: cover;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
 }
